streamlit>=1.37.0

langchain-core==0.3.72
langchain-openai==0.3.28
langchain-community==0.3.27
langchain-chroma==0.2.5
langchain-text-splitters==0.3.9

openai>=1.99.0

chromadb==1.0.15
unstructured==0.18.11

tiktoken
pydantic==2.11.9

beautifulsoup4
lxml
html5lib